version: '3.8'

services:
  db:
    image: postgres
    ports:
      - "55432:5432" # Changed from 55432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
    restart: unless-stopped

  redis:
    image: redis
    ports:
      - "56379:6379" # Changed from 6380
    restart: unless-stopped

volumes:
  pgdata:
